.panels {
  display: grid;
  padding: 20px;
  grid-gap: 10px;
  grid-template-areas: "assignee claims claims" ;
  grid-template-columns: 20% 1fr;
}
.panel-assignee {
  grid-area: assignee;
}
.panel-table {
  grid-area: claims;
}
